
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>维修记录管理</title>

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/datepicker")
    @Styles.Render("~/bundles/css/datatables")
    @Styles.Render("~/bundles/css/select")
    <link rel="stylesheet" type="text/css" href="~/css/Common.css" />

    <style>
    </style>
</head>
<body>
    @{Html.RenderAction("GetHeader", "Account"); }

    <div class="container">
        <h2>维修记录管理</h2>
        <div>
            <form class="form-inline" id="formSearch">
                <div class="form-group">
                    <label>&nbsp;&nbsp;住户状态</label>
                    <select class="selectpicker form-control" name="IsDisuse">
                        <option value="2">全部</option>
                        <option value="0">现有住户</option>
                        <option value="1">搬走住户</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;住户</label>
                    <select class="selectpicker form-control" name="OwnerId">
                        <option value="0">全部</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;完成状态</label>
                    <select class="selectpicker form-control" name="IsFinish">
                        <option value="2">全部</option>
                        <option value="0">未完成</option>
                        <option value="1">已完成</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">日期</label>
                    <div class="input-group input-daterange datepicker">
                        <div class="input-group-addon">日期</div>
                        <input type="text" class="form-control" name="BeginDate">
                        <div class="input-group-addon">至</div>
                        <input type="text" class="form-control" name="EndDate">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btnSearch">查询</button>
            </form>

            <div class="my-toolbar">
                <button class="btn btn-danger" id="btnDelete">删除所选</button>
                <button class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#modalAdd">添加</button>
            </div>

            <table id="myTable" class="table table-striped my-datatables">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="chkAllSelect" /></th>
                        <th>编号</th>
                        <th>维修项目</th>
                        <th>申请日期</th>
                        <th>住户</th>
                        <th>完成日期</th>
                        <th>维修人员</th>
                        <th>费用</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!-- 添加弹出窗口 -->
        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加维修记录</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formAdd" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3">维修项目</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Name" placeholder="请输入维修项目" maxlength="20" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">住户</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="OwnerId">
                                        <option value="0">加载中...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">申请日期</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control datepicker" placeholder="请输入申请日期" id="addApplyDate" name="ApplyDate" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">说明</label>
                                <div class="col-xs-6">
                                    <textarea rows="8" class="form-control" placeholder="请描述您遇到的问题" name="Discription" validate-type="required length" validate-maxLen="200" data-toggle="popover" data-placement="right"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnAddApply">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑弹出窗口 -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">编辑维修记录</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formEdit" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3 text-right">编号</label>
                                <div class="col-xs-6">
                                    <input type="text" readonly class="form-control" name="Id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">维修项目</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Name" placeholder="请输入维修项目" maxlength="20" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">住户</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="OwnerId">
                                        <option value="0">加载中...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">申请日期</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control datepicker" placeholder="请输入申请日期" name="ApplyDate" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">完成日期</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control datepicker" name="FinishDate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">维修人员</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Staff" placeholder="请输入维修人员" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">费用</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control" name="Money" value="0" maxlength="20" validate-type="unumber" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">说明</label>
                                <div class="col-xs-6">
                                    <textarea rows="8" class="form-control" placeholder="请描述您遇到的问题" name="Discription" validate-type="required length" validate-maxLen="200" data-toggle="popover" data-placement="right"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnEditApply">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 业主详情弹出窗口 -->
        <div class="modal fade" id="modalOwnerInfo" tabindex="-1" role="dialog" aria-labelledby="modalOwnerInfo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">住户详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">编号</label>
                            <div class="col-xs-6" name="Id">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">名称</label>
                            <div class="col-xs-6" name="Name">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">性别</label>
                            <div class="col-xs-6" name="Sex">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">联系电话</label>
                            <div class="col-xs-6" name="PhoneNum">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">身份证号</label>
                            <div class="col-xs-6" name="IDCard">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">房子</label>
                            <div class="col-xs-6" name="Room">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">车位</label>
                            <div class="col-xs-6" name="Parking">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">入住日期</label>
                            <div class="col-xs-6" name="Date">
                                加载中...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/js/jquery_bootstrap")
    @Scripts.Render("~/bundles/js/datepicker")
    @Scripts.Render("~/bundles/js/datatables")
    @Scripts.Render("~/bundles/js/select")
    <script src="~/js/Common.js"></script>

    <script>
        $(function () {
            init();
        });

        var myDataTable;      //datatables对象
        var waitReload = false;     //表示修改或添加过，需要重载表格
        var useOwnerOptHtml = "";   //现有住户select的option
        var disuseOwnerOptHtml = "";   //现有住户select的option

        function init() {
            initView();
            bindEvent();
        }

        function initView() {
            //设置菜单选项激活
            $("#liRepairManage").addClass("active");

            //初始化popover组件
            $("[data-toggle='popover']").popover(Common.popoverOptions);

            //初始化日期插件
            $(".datepicker").datepicker(Common.datepickerOptions);


            //初始化select组件
            $(".selectpicker").selectpicker({
                size: 10,
                liveSearch: true,
                width: "auto"
            });

            //获取住户选项
            $.when(setOwnerOptHtml()).done(function (data) {
                var html = "<option value='0'>全部</option>";
                if (data) {
                    alert("加载住户信息失败：" + data);
                } else {
                    html += useOwnerOptHtml + disuseOwnerOptHtml;
                }

                var $ownerSelect = $("#formSearch").find("[name='OwnerId']");
                $ownerSelect.html(html);
                $ownerSelect.selectpicker("refresh");
            });

            //初始化datatable
            var $myTable = $("#myTable");
            var $formSearch = $("#formSearch");
            myDataTable = $myTable.DataTable({
                ajax: function (data, callback, settings) {
                    var $btnSearch = $("#btnSearch");
                    $.ajax({
                        dataType: "JSON",
                        type: "POST",
                        data: {
                            pageSize: data.length,		//data.length:每页的条数
                            page: parseInt((data.start + 1) / data.length) + 1,	//data.start:第一条数据的起始位置(0)
                            ownerId: $formSearch.find("[name='OwnerId']").val(),
                            beginDate: $formSearch.find("[name='BeginDate']").val(),
                            endDate: $formSearch.find("[name='EndDate']").val(),
                            isFinish: $formSearch.find("[name='IsFinish']").val(),
                            isDisuse: $formSearch.find("[name='IsDisuse']").val(),
                        },
                        url: "/Repair/GetRepairPage",
                        success: function (res) {
                            var returnData = {};
                            if (res.Success) {
                                //封装返回的json变为dataTable要求的标准
                                returnData.data = res.Result.Data;               //数据
                                returnData.recordsTotal = res.Result.Total;      //总数据数
                                returnData.recordsFiltered = res.Result.Total;   //过滤后的数据总数
                            } else {
                                alert(res.Msg);

                                returnData.data = {};
                                returnData.recordsTotal = 0;
                                returnData.recordsFiltered = 0;
                            }
                            returnData.draw = data.draw;
                            callback(returnData);
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(xmlHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $btnSearch.attr("disabled", true);
                        },
                        complete: function () {
                            $btnSearch.attr("disabled", false);
                        },
                    });
                },
                columns: [
                    {
                        data: "Repair.Id",
                        render: function (data) {
                            return "<input type='checkbox' class='my-chkSelect' data-id='" + data + "'/>";
                        }
                    },
                    { data: "Repair.Id" },
                    { data: "Repair.Name"},
                    {
                        data: "Repair.ApplyDate",
                        render: function (data) {
                            return Common.parseDate(data).format("yyyy-MM-dd");
                        }
                    },
                    {
                        data: "OwnerName",
                        render: function (data, type, row) {
                            var style = "";
                            if (row["Repair"].Disuse) {
                                style = "style='color:red;'";
                            }
                            return "<a href='#' class='my-repair-owner my-innerDiv' data-id='" + row["Repair"].OwnerId + "' " + style + ">" + data + "</a>";
                        }
                    },
                    {
                        data: "Repair.FinishDate",
                        render: function (data) {
                            if (!data) {
                                return "未完成";
                            }
                            return Common.parseDate(data).format("yyyy-MM-dd");
                        }
                    },
                    { data: "Repair.Staff" },
                    { data: "Repair.Money" },
                    {
                        render: function (data, type, row, meta) {
                            return "<button type='button' class='btn btn-primary btn-sm my-btnEdit' data-rowIndex='" + meta.row + "'>编辑</button>";
                        }
                    }
                ],
            });
        }

        function bindEvent() {
            var $document = $(document);

            //阻止datepicker的show/hide事件向上冒泡，因为会触发modal的事件
            $document.on("show", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });
            $document.on("hide", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });

            //添加的弹出窗口显示时初始化字段
            $document.on("show.bs.modal", "#modalAdd", function (e) {
                var $this = $(this);
                $this.find("input").val("");

                //获取现有选项
                $.when(setOwnerOptHtml()).done(function (data) {
                    var html = "<option value='0'>加载中...</option>";
                    if (data) {
                        alert("加载住户信息失败：" + data);
                    } else {
                        html = useOwnerOptHtml;
                    }

                    var $ownerSelect = $this.find("[name='OwnerId']");
                    $ownerSelect.html(html);
                    $ownerSelect.selectpicker("refresh");
                });

                //设置默认日期为今天
                $("#addApplyDate").datepicker("setDate", Date());
            });

            //添加、编辑的弹出窗口隐藏时隐藏提示.
            $document.on("hide.bs.modal", "#modalAdd,#modalEdit", function (e) {
                var $this = $(this);
                //隐藏提示
                $this.find("[data-toggle='popover']").popover("hide");

                if (waitReload) {
                    myDataTable.ajax.reload();
                    waitReload = false;
                }
            });

            //添加提交按钮点击事件
            $document.on("click", "#btnAddApply", function () {
                var $form = $("#formAdd");
                var $owner = $form.find("[name='OwnerId']");
                if ($owner.val() <= 0) {
                    alert("请先选择住户，如果加载失败，请重新打开");
                } else if (Common.validateForm($form)) {
                    var $this = $(this);
                    //TODO
                    $.ajax({
                        url: "/Repair/AddRepair",
                        method: "post",
                        data: {
                            Name: $form.find("[name='Name']").val(),
                            OwnerId: $owner.val(),
                            Discription: $form.find("[name='Discription']").val(),
                            ApplyDate: $form.find("[name='ApplyDate']").val(),
                        },
                        success: function (res) {
                            alert(res.Msg);
                            if (res.Success) {
                                waitReload = true;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //查询按钮点击事件
            $document.on("click", "#btnSearch", function () {
                myDataTable.ajax.reload();
            });

            //编辑按钮点击事件
            $document.on("click", ".my-btnEdit", function () {
                var $this = $(this);
                var $form = $("#formEdit");
                var data = myDataTable.rows($this.attr("data-rowIndex")).data()[0];

                //给编辑框里的输入框赋值
                $form.find("[name='Id']").val(data.Repair.Id);
                $form.find("[name='Name']").val(data.Repair.Name);
                $form.find("[name='Money']").val(data.Repair.Money);
                $form.find("[name='Staff']").val(data.Repair.Staff);
                $form.find("[name='Discription']").val(data.Repair.Discription);
                $form.find("[name='ApplyDate']").val(Common.parseDate(data.Repair.ApplyDate).format("yyyy-MM-dd"));
                if(data.Repair.FinishDate){
                    $form.find("[name='FinishDate']").val(Common.parseDate(data.Repair.FinishDate).format("yyyy-MM-dd"));
                } else {
                    $form.find("[name='FinishDate']").val("");
                }

                //获取现有选项
                $.when(setOwnerOptHtml()).done(function (res) {
                    var html = "<option value='" + data.Repair.OwnerId + "'>" + data.OwnerName + "</option>";
                    if (!(data.Repair.Disuse)) {
                        if (res) {
                            alert("加载住户信息失败：" + res);
                        } else {
                            html = useOwnerOptHtml;
                        }
                    }

                    var $ownerSelect = $form.find("[name='OwnerId']");
                    $ownerSelect.html(html);
                    $ownerSelect.selectpicker("refresh");
                    $ownerSelect.selectpicker("val", data.Repair.OwnerId);
                });

                //当住户已搬走时禁止编辑
                if (data.Repair.Disuse) {
                    $('#modalEdit').find("#btnEditApply").prop("disabled", true);
                } else {
                    $('#modalEdit').find("#btnEditApply").prop("disabled", false);
                }

                //显示编辑框
                $('#modalEdit').modal('show');
            });

            //编辑框提交按钮
            $document.on("click", "#btnEditApply", function () {
                var $form = $("#formEdit");
                var $owner = $form.find("[name='OwnerId']");
                if ($owner.val() <= 0) {
                    alert("请先选择住户，如果加载失败，请重新打开");
                } else if (Common.validateForm($form)) {
                    var $this = $(this);
                    $.ajax({
                        url: "/Repair/UpdateRepair",
                        method: "post",
                        data: {
                            Id: $form.find("[name='Id']").val(),
                            Name: $form.find("[name='Name']").val(),
                            OwnerId: $owner.val(),
                            Money: $form.find("[name='Money']").val(),
                            Staff: $form.find("[name='Staff']").val(),
                            ApplyDate: $form.find("[name='ApplyDate']").val(),
                            FinishDate: $form.find("[name='FinishDate']").val(),
                            Discription: $form.find("[name='Discription']").val(),
                        },
                        success: function (res) {
                            alert(res.Msg);
                            if (res.Success) {
                                waitReload = true;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //全选
            $document.on("change", "#chkAllSelect", function () {
                $("input.my-chkSelect").prop("checked", $(this).is(":checked"));
            });

            //datatable重绘时取消全选
            myDataTable.on("draw", function () {
                $("#chkAllSelect").prop("checked", false);
            });

            $document.on("click", "#btnDelete", function () {
                var ids = [];
                $("input.my-chkSelect:checked").each(function (index, element) {
                    ids.push($(this).attr("data-id"));
                });

                if (ids.length == 0) {
                    alert("请先勾选要删除的条目");
                } else {
                    if (confirm("确定要删除吗？")) {
                        $this = $(this);

                        $.ajax({
                            url: "/Repair/DeleteRepairs",
                            method: "post",
                            data: {
                                ids: ids
                            },
                            traditional: true,  //规定是否使用参数序列化的传统样式。这样后台数组变量才能接受到值
                            success: function (res) {
                                alert(res.Msg);
                                if (res.Success) {
                                    myDataTable.ajax.reload();
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                            },
                            beforeSend: function () {
                                $this.attr("disabled", true);
                            },
                            complete: function () {
                                $this.attr("disabled", false);
                            },
                        });
                    }
                }
            });

            //住户状态select选择时更新住户select
            $document.on("changed.bs.select", "select[name='IsDisuse']", function () {
                var $this = $(this);
                var $ownerSelect = $this.closest("form").find("select[name='OwnerId']");
                if ($ownerSelect.length > 0) {
                    //获取住户选项
                    $.when(setOwnerOptHtml()).done(function (data) {
                        var html = "<option value='0'>全部</option>";
                        if (data) {
                            alert("加载住户信息失败：" + data);
                        } else {
                            console.log($this.val());
                            switch ($this.val()) {
                                case 0:
                                case "0":
                                    html += useOwnerOptHtml;
                                    break;
                                case 1:
                                case "1":
                                    html += disuseOwnerOptHtml;
                                    break;
                                default:
                                    html += useOwnerOptHtml + disuseOwnerOptHtml;
                                    break;
                            }
                        }

                        var $ownerSelect = $("#formSearch").find("[name='OwnerId']");
                        $ownerSelect.html(html);
                        $ownerSelect.selectpicker("refresh");
                    });
                }
            });

            //住户名称点击时显示住户详情
            $document.on("click", "a.my-repair-owner", function () {
                var $this = $(this);
                var $modalOwnerInfo = $("#modalOwnerInfo");

                var id = $this.attr("data-id");

                var divId = $modalOwnerInfo.find("div[name='Id']");
                //跟已显示的详情不一样，重新获取
                if (divId.text() != id) {
                    divId.text(id);
                    $modalOwnerInfo.find("div[name='Name']").text($this.text());

                    var divSex = $modalOwnerInfo.find("div[name='Sex']");
                    var divPhoneNum = $modalOwnerInfo.find("div[name='PhoneNum']");
                    var divIDCard = $modalOwnerInfo.find("div[name='IDCard']");
                    var divRoom = $modalOwnerInfo.find("div[name='Room']");
                    var divParking = $modalOwnerInfo.find("div[name='Parking']");
                    var divDate = $modalOwnerInfo.find("div[name='Date']");

                    divSex.text("加载中...");
                    divPhoneNum.text("加载中...");
                    divIDCard.text("加载中...");
                    divRoom.text("加载中...");
                    divParking.text("加载中...");
                    divDate.text("加载中...");

                    $.ajax({
                        url: "/Owner/GetOwnerInfo",
                        method: "post",
                        data: {
                            id: id
                        },
                        success: function (res) {
                            if (res.Success) {
                                divSex.text(res.Result.Owner.Sex ? "男" : "女");
                                divPhoneNum.text(res.Result.Owner.PhoneNum);
                                divIDCard.text(res.Result.Owner.IDCard);
                                divRoom.text(res.Result.RoomName + "(" + res.Result.BuildingName + ")");
                                divParking.text(res.Result.ParkingName ? res.Result.ParkingName : "无");
                                divDate.text(Common.parseDate(res.Result.Owner.Date).format("yyyy-MM-dd"));
                            } else {
                                alert(res.Msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            divId.text("");
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        }
                    });
                }

                //显示详情框
                $modalOwnerInfo.modal('show');

                return false;
            });
        }

        //住户select的选项,传入延迟对象来配合ajax保证延迟执行，不阻塞线程
        function setOwnerOptHtml() {
            var deferredObj = $.Deferred();
            //当没有时用ajax获取
            if (!useOwnerOptHtml) {
                $.ajax({
                    url: "/Owner/GetOwnersCoreInfo",
                    //async: false,
                    data: {
                        isDisuse: 3
                    },
                    method: "post",
                    success: function (res) {
                        if (res.Success) {
                            //myDataTable.ajax.reload();
                            var uselist = res.Result.UseOwner;
                            if (uselist.length == 0) {
                                deferredObj.resolve("请先添加住户");
                                return;
                            } else {
                                var html1 = "";
                                for (let i = 0; i < uselist.length; i++) {
                                    html1 += "<option value='" + uselist[i].Id + "'>" + uselist[i].Name + "</option>";
                                }
                                useOwnerOptHtml = html1;
                            }

                            var disuselist = res.Result.DisuseOwner;
                            var html2 = "";
                            for (let i = 0; i < disuselist.length; i++) {
                                html2 += "<option value='" + disuselist[i].Id + "'>" + disuselist[i].Name + "</option>";
                            }
                            disuseOwnerOptHtml = html2;

                            deferredObj.resolve("");
                        }
                        else deferredObj.resolve(res.Msg);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        deferredObj.resolve("连接失败，请稍候重试");
                    },
                });
            } else {
                deferredObj.resolve("");
            }

            return deferredObj;
        }
    </script>
</body>
</html>
