
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>现有业主管理</title>

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/datepicker")
    @Styles.Render("~/bundles/css/datatables")
    @Styles.Render("~/bundles/css/select")
    <link rel="stylesheet" type="text/css" href="~/css/Common.css" />

    <style>
    </style>
</head>
<body>
    @{Html.RenderAction("GetHeader", "Account"); }

    <div class="container">
        <h2>现有业主管理</h2>
        <div>
            <form class="form-inline" id="formSearch">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="Name" placeholder="">
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;性别</label>
                    <select class="form-control" name="Sex">
                        <option value="2">全部</option>
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">入住日期</label>
                    <div class="input-group input-daterange datepicker">
                        <div class="input-group-addon">入住日期</div>
                        <input type="text" class="form-control" name="BeginDate">
                        <div class="input-group-addon">至</div>
                        <input type="text" class="form-control" name="EndDate">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btnSearch">查询</button>
            </form>

            <div class="my-toolbar">
                <button class="btn btn-danger" id="btnDelete">删除所选</button>
                <button class="btn btn-danger" id="btnDisuse">搬走所选</button>
                <button class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#modalAdd">添加</button>
            </div>

            <table id="myTable" class="table table-striped my-datatables">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="chkAllSelect" /></th>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系电话</th>
                        <th>身份证号</th>
                        <th>入住日期</th>
                        <th>房子</th>
                        <th>车位</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!-- 添加弹出窗口 -->
        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加业主</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formAdd" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3">姓名</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Name" placeholder="请输入姓名" maxlength="20" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">密码</label>
                                <div class="col-xs-6">
                                    <input type="password" class="form-control" name="Password" placeholder="请输入密码" maxlength="20" validate-type="required length" validate-minLen="6" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">性别</label>
                                <div class="col-xs-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="Sex" value="0" checked="checked"> 女
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Sex" value="1"> 男
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">联系电话</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="PhoneNum" placeholder="请输入手机或固话号码" maxlength="20" validate-type="required phoneNum" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">身份证号</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="IDCard" placeholder="请输入身份证号" maxlength="20" validate-type="required idcard" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">楼栋</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="BuildingId">
                                        <option value="0">加载中...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">房子</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="RoomId">
                                        <option value="0">请先选择楼栋</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">入住日期</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control datepicker" placeholder="请输入入住日期" id="addDate" name="Date" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnAddApply">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑弹出窗口 -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">编辑业主</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formEdit" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3 text-right">编号</label>
                                <div class="col-xs-6">
                                    <input type="text" readonly class="form-control" name="Id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">姓名</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Name" placeholder="请输入姓名" maxlength="20" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">密码</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Password" placeholder="请输入密码" maxlength="20" validate-type="required length" validate-minLen="6" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">性别</label>
                                <div class="col-xs-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="Sex" value="0"> 女
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Sex" value="1"> 男
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">联系电话</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="PhoneNum" placeholder="请输入手机或固话号码" maxlength="20" validate-type="required phoneNum" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">身份证号</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="IDCard" placeholder="请输入身份证号" maxlength="20" validate-type="required idCard" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">楼栋</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="BuildingId">
                                        <option value="0">加载中...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">房子</label>
                                <div class="col-xs-6">
                                    <select class="selectpicker" name="RoomId">
                                        <option value="0">请先选择楼栋</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">入住日期</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control datepicker" placeholder="请输入入住日期" name="Date" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnEditApply">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 房子详情弹出窗口 -->
        <div class="modal fade" id="modalRoomInfo" tabindex="-1" role="dialog" aria-labelledby="modalRoomInfo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">房子详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">编号</label>
                            <div class="col-xs-6" name="Id">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">房号</label>
                            <div class="col-xs-6" name="Name">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">面积(m²)</label>
                            <div class="col-xs-6" name="Area">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">房型</label>
                            <div class="col-xs-6" name="Type">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">楼栋</label>
                            <div class="col-xs-6" name="Building">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">楼层</label>
                            <div class="col-xs-6" name="Floor">
                                加载中...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 车位详情弹出窗口 -->
        <div class="modal fade" id="modalParkingInfo" tabindex="-1" role="dialog" aria-labelledby="modalParkingInfo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">车位详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">编号</label>
                            <div class="col-xs-6" name="Id">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">车位号</label>
                            <div class="col-xs-6" name="Name">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">车型</label>
                            <div class="col-xs-6" name="CarType">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">车牌号</label>
                            <div class="col-xs-6" name="CarNum">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">分配日期</label>
                            <div class="col-xs-6" name="Date">
                                加载中...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/js/jquery_bootstrap")
    @Scripts.Render("~/bundles/js/datepicker")
    @Scripts.Render("~/bundles/js/datatables")
    @Scripts.Render("~/bundles/js/select")
    <script src="~/js/Common.js"></script>

    <script>
        $(function () {
            init();
        });

        var myDataTable;      //datatables对象
        var waitReload = false;     //表示修改或添加过，需要重载表格
        var buildingOptHtml = "";   //楼栋select的option

        var searchData = {
            name: "",
            sex: 2,
            beginDate: "",
            endDate: ""
        };

        function init() {
            initView();
            bindEvent();
        }

        function initView() {
            //设置菜单选项激活
            $("#liOwnerManage").addClass("active");

            //初始化popover组件
            $("[data-toggle='popover']").popover(Common.popoverOptions);

            //初始化日期插件
            $(".datepicker").datepicker(Common.datepickerOptions);


            //初始化select组件
            $(".selectpicker").selectpicker({
                size: 10,
                liveSearch: true,
                width: "auto"
            });

            ////获取楼栋选项
            //$.when(setBuildingOptHtml()).done(function (data) {
            //    var html = "<option value='0'>全部</option>"
            //    if (data) {
            //        alert("加载楼栋信息失败：" + data);
            //    } else {
            //        html += buildingOptHtml;
            //    }

            //    var $buildingSelect = $("#formSearch").find("[name='BuildingId']");
            //    $buildingSelect.html(html);
            //    $buildingSelect.selectpicker("refresh");
            //});

            //初始化datatable
            var $myTable = $("#myTable");
            //var $formSearch = $("#formSearch");
            myDataTable = $myTable.DataTable({
                ajax: function (data, callback, settings) {
                    var $btnSearch = $("#btnSearch");
                    $.ajax({
                        dataType: "JSON",
                        type: "POST",
                        data: {
                            pageSize: data.length, //data.length:每页的条数
                            page: parseInt((data.start + 1) / data.length) + 1,	//data.start:第一条数据的起始位置(0)
                            name: searchData.name,
                            sex: searchData.sex,
                            beginDate: searchData.beginDate,
                            endDate: searchData.endDate
                        },
                        url: "/Owner/GetOwnerPage",
                        success: function (res) {
                            var returnData = {};
                            if (res.Success) {
                                //封装返回的json变为dataTable要求的标准
                                returnData.data = res.Result.Data;               //数据
                                returnData.recordsTotal = res.Result.Total;      //总数据数
                                returnData.recordsFiltered = res.Result.Total;   //过滤后的数据总数
                            } else {
                                alert(res.Msg);

                                returnData.data = {};
                                returnData.recordsTotal = 0;
                                returnData.recordsFiltered = 0;
                            }
                            returnData.draw = data.draw;
                            callback(returnData);
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(xmlHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $btnSearch.attr("disabled", true);
                        },
                        complete: function () {
                            $btnSearch.attr("disabled", false);
                        },
                    });
                },
                columns: [
                    {
                        data: "Owner.Id",
                        render: function (data) {
                            return "<input type='checkbox' class='my-chkSelect' data-id='" + data + "'/>";
                        }
                    },
                    { data: "Owner.Id" },
                    { data: "Owner.Name" },
                    {
                        data: "Owner.Sex",
                        render: function (data) {
                            if (data) {
                                return "男";
                            }
                            return "女";
                        }
                    },
                    { data: "Owner.PhoneNum" },
                    { data: "Owner.IDCard" },
                    { 
                        data: "Owner.Date",
                        render: function (data) {
                            return Common.parseDate(data).format("yyyy-MM-dd");
                        }
                    },
                    {
                        data: "RoomName",
                        render: function (data, type, row, meta) {
                            return "<a href='#' class='my-owner-room my-innerDiv' data-rowIndex='" + meta.row +"'>" + data + "(" + row["BuildingName"] + ")</a>";
                        }
                    },
                    {
                        data: "ParkingName",
                        render: function (data, type, row) {
                            if (!data) {
                                return "无";
                            }
                            return "<a href='#' class='my-owner-parking my-innerDiv' data-id='" + row["Owner"].ParkingId + "'>" + data + "</a>";
                        }
                    },
                    {
                        render: function (data, type, row, meta) {
                            return "<button type='button' class='btn btn-primary btn-sm my-btnEdit' data-rowIndex='" + meta.row + "'>编辑</button>";
                        }
                    }
                ],
            });
        }

        function bindEvent() {
            var $document = $(document);

            //阻止datepicker的show/hide事件向上冒泡，因为会触发modal的事件
            $document.on("show", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });
            $document.on("hide", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });

            //添加的弹出窗口显示时初始化字段
            $document.on("show.bs.modal", "#modalAdd", function (e) {
                var $this = $(this);
                $this.find("input:not([type='radio'])").val("");

                //获取楼栋选项
                $.when(setBuildingOptHtml()).done(function (data) {
                    if (data) {
                        alert("加载楼栋信息失败：" + data);
                    } else {
                        var $buildingSelect = $this.find("[name='BuildingId']");
                        $buildingSelect.html(buildingOptHtml);
                        $buildingSelect.selectpicker("refresh");
                        $buildingSelect.trigger("changed.bs.select");
                    }
                });

                //设置默认日期为今天
                $("#addDate").datepicker("setDate", Date());
            });

            //添加、编辑的弹出窗口隐藏时隐藏提示.
            $document.on("hide.bs.modal", "#modalAdd,#modalEdit", function (e) {
                var $this = $(this);
                //隐藏提示
                $this.find("[data-toggle='popover']").popover("hide");

                if (waitReload) {
                    myDataTable.ajax.reload();
                    waitReload = false;
                }
            });

            //添加提交按钮点击事件
            $document.on("click", "#btnAddApply", function () {
                var $form = $("#formAdd");
                var $roomId = $form.find("[name='RoomId']");
                if ($roomId.val() <= 0) {
                    alert("请先选择楼栋和房子，如果楼栋或房子加载失败，请重新打开");
                } else if (Common.validateForm($form)) {
                    var $this = $(this);
                    //TODO
                    $.ajax({
                        url: "/Owner/AddOwner",
                        method: "post",
                        data: {
                            Name: $form.find("[name='Name']").val(),
                            Password: $form.find("[name='Password']").val(),
                            Sex: $form.find("[name='Sex']:checked").val() == 1,
                            PhoneNum: $form.find("[name='PhoneNum']").val(),
                            IDCard: $form.find("[name='IDCard']").val(),
                            RoomId: $roomId.val(),
                            Date: $form.find("[name='Date']").val(),
                        },
                        success: function (res) {
                            alert(res.Msg);
                            if (res.Success) {
                                waitReload = true;
                                $form.find("[name='BuildingId']").trigger("changed.bs.select");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //查询按钮点击事件
            $document.on("click", "#btnSearch", function () {
                var $formSearch = $("#formSearch");

                searchData.name = $formSearch.find("[name='Name']").val(),
                searchData.sex = $formSearch.find("[name='Sex']").val(),
                searchData.beginDate = $formSearch.find("[name='BeginDate']").val(),
                searchData.endDate = $formSearch.find("[name='EndDate']").val()

                myDataTable.ajax.reload();
            });

            //编辑按钮点击事件
            $document.on("click", ".my-btnEdit", function () {
                var $this = $(this);
                var $form = $("#formEdit");
                var data = myDataTable.rows($this.attr("data-rowIndex")).data()[0];

                //给编辑框里的输入框赋值
                $form.find("[name='Id']").val(data.Owner.Id);
                $form.find("[name='Name']").val(data.Owner.Name);
                $form.find("[name='Password']").val(data.Owner.Password);
                $form.find("[name='PhoneNum']").val(data.Owner.PhoneNum);
                $form.find("[name='IDCard']").val(data.Owner.IDCard);
                $form.find("[name='Date']").val(Common.parseDate(data.Owner.Date).format("yyyy-MM-dd"));
                var sex = data.Owner.Sex ? 1 : 0;
                $form.find("[name='Sex']").each(function (index, element) {
                    var $this = $(this);
                    if ($this.val() == sex) {
                        $this.prop("checked", true);
                    } else {
                        $this.prop("checked", false);
                    }
                });

                //获取楼栋选项
                $.when(setBuildingOptHtml()).done(function (res) {
                    var $buildingSelect = $form.find("[name='BuildingId']");
                    if (res) {
                        alert("加载楼栋信息失败：" + res);
                        $buildingSelect.html("<option value='" + data.BuildingId + "'>" + data.BuildingName + "</option>");
                    } else {
                        $buildingSelect.html(buildingOptHtml);
                    }
                    $buildingSelect.selectpicker("refresh");
                    $buildingSelect.selectpicker("val", data.BuildingId);
                    $buildingSelect.find(":selected").data("room", { roomId: data.Owner.RoomId, roomName: data.RoomName });
                    $buildingSelect.trigger("changed.bs.select");
                });

                //显示编辑框
                $('#modalEdit').modal('show');
            });

            //编辑框提交按钮
            $document.on("click", "#btnEditApply", function () {
                var $form = $("#formEdit");
                var $roomId = $form.find("[name='RoomId']");
                if ($roomId.val() <= 0) {
                    alert("请先选择楼栋和房子，如果楼栋或房子加载失败，请重新打开");
                } else if (Common.validateForm($form)) {
                    var $this = $(this);
                    var roomId = $roomId.val();
                    var roomName = $roomId.find(":selected").text();
                    $.ajax({
                        url: "/Owner/UpdateOwner",
                        method: "post",
                        data: {
                            Id: $form.find("[name='Id']").val(),
                            Name: $form.find("[name='Name']").val(),
                            Password: $form.find("[name='Password']").val(),
                            Sex: $form.find("[name='Sex']:checked").val() == 1,
                            PhoneNum: $form.find("[name='PhoneNum']").val(),
                            IDCard: $form.find("[name='IDCard']").val(),
                            RoomId: $roomId.val(),
                            Date: $form.find("[name='Date']").val(),
                        },
                        success: function (res) {
                            alert(res.Msg);
                            if (res.Success) {
                                waitReload = true;
                                var $buildingSelect = $form.find("[name='BuildingId']");
                                $buildingSelect.find("option").data("room", null);
                                $buildingSelect.find(":selected").data("room", { roomId: roomId, roomName: roomName });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //全选
            $document.on("change", "#chkAllSelect", function () {
                $("input.my-chkSelect").prop("checked", $(this).is(":checked"));
            });

            //datatable重绘时取消全选
            myDataTable.on("draw", function () {
                $("#chkAllSelect").prop("checked", false);
            });

            $document.on("click", "#btnDelete", function () {
                var ids = [];
                $("input.my-chkSelect:checked").each(function (index, element) {
                    ids.push($(this).attr("data-id"));
                });

                if (ids.length == 0) {
                    alert("请先勾选要删除的条目");
                } else {
                    if (confirm("确定要删除吗？将会删除该业主的所有相关记录")) {
                        $this = $(this);

                        $.ajax({
                            url: "/Owner/DeleteOwners",
                            method: "post",
                            data: {
                                ids: ids
                            },
                            traditional: true,  //规定是否使用参数序列化的传统样式。这样后台数组变量才能接受到值
                            success: function (res) {
                                alert(res.Msg);
                                if (res.Success) {
                                    myDataTable.ajax.reload();
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                            },
                            beforeSend: function () {
                                $this.attr("disabled", true);
                            },
                            complete: function () {
                                $this.attr("disabled", false);
                            },
                        });
                    }
                }
            });

            $document.on("click", "#btnDisuse", function () {
                var ids = [];
                $("input.my-chkSelect:checked").each(function (index, element) {
                    ids.push($(this).attr("data-id"));
                });

                if (ids.length == 0) {
                    alert("请先勾选要搬走的业主");
                } else {
                    if (confirm("确定要搬走该业主吗？业主记录不会删除")) {
                        $this = $(this);

                        $.ajax({
                            url: "/Owner/DisuseOwners",
                            method: "post",
                            data: {
                                ids: ids
                            },
                            traditional: true,  //规定是否使用参数序列化的传统样式。这样后台数组变量才能接受到值
                            success: function (res) {
                                alert(res.Msg);
                                if (res.Success) {
                                    myDataTable.ajax.reload();
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                            },
                            beforeSend: function () {
                                $this.attr("disabled", true);
                            },
                            complete: function () {
                                $this.attr("disabled", false);
                            },
                        });
                    }
                }
            });

            //楼栋select选择时更新房子select
            $document.on("changed.bs.select", "select[name='BuildingId']", function (e) {
                var $this = $(this);
                var $roomSelect = $this.closest("form").find("select[name='RoomId']");
                if ($roomSelect.length > 0) {
                    var $option = $this.find("option:selected");
                    $.when(getRoomOptHtml($option.val())).done(function (data) {
                        var room = $this.find(":selected").data("room");
                        if (room) {
                            data = "<option value='" + room.roomId + "'>" + room.roomName + "</option>" + data;
                        }
                        $roomSelect.html(data);
                        $roomSelect.selectpicker("refresh");
                    }).fail(function (data) {
                        alert("获取房子失败：" + data);
                        if (room) {
                            $roomSelect.html("<option value='" + room.roomId + "'>" + room.roomName + "</option>");
                        }
                        else $roomSelect.html("<option value='0'>请先选择楼栋</option>");
                        $roomSelect.selectpicker("refresh");
                    });
                    $roomSelect.selectpicker("refresh");
                }
            });

            //房号点击时显示房子详情
            $document.on("click", "a.my-owner-room", function () {
                var $this = $(this);
                var $modalRoomInfo = $("#modalRoomInfo");

                var data = myDataTable.rows($this.attr("data-rowIndex")).data()[0];

                var id = data.Owner.RoomId;

                var divId = $modalRoomInfo.find("div[name='Id']");
                //跟已显示的详情不一样，重新获取
                if (divId.text() != id) {
                    divId.text(id);
                    $modalRoomInfo.find("div[name='Name']").text(data.RoomName);

                    var divArea = $modalRoomInfo.find("div[name='Area']");
                    var divType = $modalRoomInfo.find("div[name='Type']");
                    var divFloor = $modalRoomInfo.find("div[name='Floor']");
                    var divBuilding = $modalRoomInfo.find("div[name='Building']");

                    divArea.text("加载中...");
                    divType.text("加载中...");
                    divFloor.text("加载中...");
                    divBuilding.text("加载中...");

                    $.ajax({
                        url: "/Room/GetRoomInfo",
                        method: "post",
                        data: {
                            id: id
                        },
                        success: function (res) {
                            if (res.Success) {
                                divArea.text(res.Result.Room.Area);
                                divType.text(res.Result.Room.Type);
                                divFloor.text(res.Result.Room.Floor);
                                divBuilding.text(res.Result.BuildingName);
                            } else {
                                alert(res.Msg);
                                divId.text("");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            divId.text("");
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        }
                    });
                }

                //显示详情框
                $modalRoomInfo.modal('show');

                return false;
            });

            //车位号点击时显示车位详情
            $document.on("click", "a.my-owner-parking", function () {
                var $this = $(this);
                var $modalParkingInfo = $("#modalParkingInfo");

                var id = $this.attr("data-id");

                var divId = $modalParkingInfo.find("div[name='Id']");
                //跟已显示的详情不一样，重新获取
                if (divId.text() != id) {
                    divId.text(id);
                    $modalParkingInfo.find("div[name='Name']").text($this.text());

                    var divCarType = $modalParkingInfo.find("div[name='CarType']");
                    var divCarNum = $modalParkingInfo.find("div[name='CarNum']");
                    var divDate = $modalParkingInfo.find("div[name='Date']");

                    divCarType.text("加载中...");
                    divCarNum.text("加载中...");
                    divDate.text("加载中...");

                    $.ajax({
                        url: "/Parking/GetParkingInfo",
                        method: "post",
                        data: {
                            id: id
                        },
                        success: function (res) {
                            if (res.Success) {
                                divCarType.text(res.Result.CarType);
                                divCarNum.text(res.Result.CarNum);
                                divDate.text(Common.parseDate(res.Result.Date).format("yyyy-MM-dd"));
                            } else {
                                alert(res.Msg);
                                divId.text("");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            divId.text("");
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        }
                    });
                }

                //显示详情框
                $modalParkingInfo.modal('show');

                return false;
            });
        }

        //获取楼栋select的选项,用延迟对象来配合ajax保证延迟执行，不阻塞线程
        function setBuildingOptHtml() {
            var deferredObj = $.Deferred();
            //当没有时用ajax获取
            if (!buildingOptHtml) {
                $.ajax({
                    url: "/Building/GetBuildingsCoreInfo",
                    //async: false,
                    method: "post",
                    success: function (res) {
                        if (res.Success) {
                            //myDataTable.ajax.reload();
                            var list = res.Result;
                            if (list.length == 0) {
                                deferredObj.resolve("请先添加楼栋");
                            } else {
                                var html = "";
                                for (let i = 0; i < list.length; i++) {
                                    html += "<option value='" + list[i].Id + "' data-floorNum='" + list[i].FloorNum + "'>" + list[i].Name + "</option>";
                                }
                                buildingOptHtml = html;
                                deferredObj.resolve("");
                            }
                        }
                        else deferredObj.resolve(res.Msg);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        deferredObj.resolve("连接失败，请稍候重试");
                    },
                });
            } else {
                deferredObj.resolve("");
            }

            return deferredObj;
        }

        //获取房子select的选项,用延迟对象来配合ajax保证延迟执行，不阻塞线程
        function getRoomOptHtml(buildingId) {
            var deferredObj = $.Deferred();
            //当没有时用ajax获取
            if (buildingId > 0) {
                $.ajax({
                    url: "/Room/GetEmptyRoomInBuilding",
                    //async: false,
                    method: "post",
                    data: {
                        buildingId: buildingId
                    },
                    success: function (res) {
                        if (res.Success) {
                            //myDataTable.ajax.reload();
                            var html = "";
                            var list = res.Result;
                            if (list.length == 0) {
                                html += "<option value='0'>该楼中没有空房子</option>"
                            } else {
                                for (let i = 0; i < list.length; i++) {
                                    html += "<option value='" + list[i].Id + "'>" + list[i].Name + "</option>";
                                }
                            }
                            deferredObj.resolve(html);
                        }
                        else deferredObj.reject(res.Msg);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        deferredObj.reject("连接失败，请稍候重试");
                    },
                });
            } else {
                deferredObj.reject("楼栋编号错误");
            }

            return deferredObj;
        }
    </script>
</body>
</html>
