
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>投诉建议管理</title>

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/datepicker")
    @Styles.Render("~/bundles/css/datatables")
    @Styles.Render("~/bundles/css/select")
    <link rel="stylesheet" type="text/css" href="~/css/Common.css" />

    <style>
    </style>
</head>
<body>
    @{Html.RenderAction("GetHeader", "Account"); }

    <div class="container">
        <h2>投诉建议管理</h2>
        <div>
            <form class="form-inline" id="formSearch">
                <div class="form-group">
                    <label>&nbsp;&nbsp;业主状态</label>
                    <select class="selectpicker form-control" name="IsDisuse">
                        <option value="2">全部</option>
                        <option value="0">现有业主</option>
                        <option value="1">搬走业主</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;业主</label>
                    <select class="selectpicker form-control" name="OwnerId">
                        <option value="0">全部</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;&nbsp;回复状态</label>
                    <select class="selectpicker form-control" name="IsFinish">
                        <option value="2">全部</option>
                        <option value="0">未回复</option>
                        <option value="1">已回复</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only">日期</label>
                    <div class="input-group input-daterange datepicker">
                        <div class="input-group-addon">日期</div>
                        <input type="text" class="form-control" name="BeginDate">
                        <div class="input-group-addon">至</div>
                        <input type="text" class="form-control" name="EndDate">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btnSearch">查询</button>
            </form>

            <div class="my-toolbar">
                <button class="btn btn-danger" id="btnDelete">删除所选</button>
                @*<button class="btn btn-primary" id="btnAdd" data-toggle="modal" data-target="#modalAdd">添加</button>*@
            </div>

            <table id="myTable" class="table table-striped my-datatables">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="chkAllSelect" /></th>
                        <th>编号</th>
                        <th>标题</th>
                        <th>发表时间</th>
                        <th>业主</th>
                        <th>回复数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!-- 编辑弹出窗口 -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">编辑投诉建议</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formEdit" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-3 text-right">编号</label>
                                <div class="col-xs-6">
                                    <input type="text" readonly class="form-control" name="Id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">标题</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="Title" placeholder="请输入标题" maxlength="30" validate-type="required" data-toggle="popover" data-placement="right">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">业主</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="OwnerName" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">发表时间</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="DateTime" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">内容</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control my-advice-content" placeholder="请输入内容" name="Content" validate-type="required length" validate-maxLen="500" data-toggle="popover" data-placement="right"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnEditApply">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 投诉建议详情弹出窗口 -->
        <div class="modal fade" id="modalAdviceInfo" tabindex="-1" role="dialog" aria-labelledby="modalAdviceInfo">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">投诉建议详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row hidden">
                            <label class="control-label col-xs-3 text-right"></label>
                            <div class="col-xs-6" name="Id"></div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right"></label>
                            <h3 class="col-xs-6 my-advice-title" name="Title"></h3>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right"></label>
                            <div class="col-xs-6">
                                <strong name="OwnerName"></strong>&nbsp;&nbsp;
                                <small name="DateTime"></small>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right"></label>
                            <div class="col-xs-6">
                                <pre class="my-advice-content" name="Content">
                                </pre>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right"></label>
                            <div class="col-xs-6">
                                <div name="Replies">  
                                </div>
                                <div class="text-right">
                                    <nav>
                                        <ul class="pagination pagination-sm" id="ulReplyPagination" name="ReplyPagination">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="row" name="ReplyRow">
                            <form>
                                <label class="control-label col-xs-3 text-right"></label>
                                <div class="col-xs-6">
                                    <textarea rows="3" class="form-control" placeholder="请输入回复" name="ReplyContent" validate-type="required length" validate-maxLen="200" data-toggle="popover" data-placement="right"></textarea>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-primary" id="btnReply" style="margin-top: 10px">回复</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 业主详情弹出窗口 -->
        <div class="modal fade" id="modalOwnerInfo" tabindex="-1" role="dialog" aria-labelledby="modalOwnerInfo">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">业主详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">编号</label>
                            <div class="col-xs-6" name="Id">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">名称</label>
                            <div class="col-xs-6" name="Name">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">性别</label>
                            <div class="col-xs-6" name="Sex">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">联系电话</label>
                            <div class="col-xs-6" name="PhoneNum">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">身份证号</label>
                            <div class="col-xs-6" name="IDCard">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">房子</label>
                            <div class="col-xs-6" name="Room">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">车位</label>
                            <div class="col-xs-6" name="Parking">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">入住日期</label>
                            <div class="col-xs-6" name="Date">
                                加载中...
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-xs-3 text-right">搬走日期</label>
                            <div class="col-xs-6" name="DisuseDate">
                                加载中...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/js/jquery_bootstrap")
    @Scripts.Render("~/bundles/js/datepicker")
    @Scripts.Render("~/bundles/js/datatables")
    @Scripts.Render("~/bundles/js/select")
    <script src="~/js/Common.js"></script>

    <script>
        $(function () {
            init();
        });

        var myDataTable;      //datatables对象
        var waitReload = false;     //表示修改或添加过，需要重载表格
        var useOwnerOptHtml = "";   //现有业主select的option
        var disuseOwnerOptHtml = "";   //现有业主select的option

        var searchData = {
            ownerId: 0,
            beginDate: "",
            endDate: "",
            isFinish: 2,
            isDisuse: 2,
        };

        var ReplyPagination = {
            pageSize: 5,
            adviceId: 0,
            currentPage: 0,
            loadPage: function (currentPage) {
                if (currentPage < 1 || this.adviceId < 1) return;
                var _this = this;
                $.ajax({
                    url: "/Reply/GetReplyPage",
                    method: "post",
                    data: {
                        adviceId: this.adviceId,
                        page: currentPage,
                        pageSize: _this.pageSize
                    },
                    success: function (res) {
                        if (res.Success) {
                            var $modal = $("#modalAdviceInfo");

                            _this.currentPage = currentPage;
                            var total = res.Result.Total;
                            var data = res.Result.Data;

                            var replyHtml = "";
                            for (let i = 0; i < data.length; i++) {
                                replyHtml +=
                                    "<div>" +
                                        "<div>" +
                                            "<strong name='ReplyAdminName'>" + data[i].AdminName + "</strong>&nbsp;&nbsp;" +
                                            "<small name='ReplyDateTime'>" +
                                            Common.parseDate(data[i].Reply.DateTime).format("yyyy-MM-dd hh:mm:ss")
                                            +"</small>&nbsp;&nbsp;&nbsp;&nbsp;" +
                                            "<a href='#' class='my-btn-deleteReply' data-id='" + data[i].Reply.Id + "'><span class='glyphicon glyphicon-trash'></span></a>" + 
                                        "</div>" + 
                                        "<pre class='my-reply-content'>" + data[i].Reply.Content + "</pre>" +
                                    "</div>";
                            }

                            $modal.find("div[name='Replies']").html(replyHtml);
                            var $ulPagination = $modal.find("ul[name='ReplyPagination']");
                            $ulPagination.html("");

                            if (replyHtml) {
                                var totalPage = Math.ceil(total / _this.pageSize);
                                var paginationHtml = Common.getPaginationHtml(currentPage, totalPage);
                                
                                $ulPagination.html(paginationHtml);
                                $ulPagination.data("currentPage", currentPage);
                            }
                        } else {
                            alert("加载回复列表失败：" + res.Msg);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        Common.ajaxError(xmlHttpRequest, textStatus, errorThrown);
                    },
                });
            },
            reload: function () {
                this.loadPage(this.currentPage);
            }
        };

        function init() {
            initView();
            bindEvent();
        }

        function initView() {
            //设置菜单选项激活
            $("#liAdviceManage").addClass("active");

            //初始化popover组件
            $("[data-toggle='popover']").popover(Common.popoverOptions);

            //初始化日期插件
            $(".datepicker").datepicker(Common.datepickerOptions);


            //初始化select组件
            $(".selectpicker").selectpicker({
                size: 10,
                liveSearch: true,
                width: "auto"
            });

            //获取业主选项
            $.when(setOwnerOptHtml()).done(function (data) {
                var html = "<option value='0'>全部</option>";
                if (data) {
                    alert("加载业主信息失败：" + data);
                } else {
                    html += useOwnerOptHtml + disuseOwnerOptHtml;
                }

                var $ownerSelect = $("#formSearch").find("[name='OwnerId']");
                $ownerSelect.html(html);
                $ownerSelect.selectpicker("refresh");
            });

            //初始化datatable
            var $myTable = $("#myTable");
            //var $formSearch = $("#formSearch");
            myDataTable = $myTable.DataTable({
                ajax: function (data, callback, settings) {
                    var $btnSearch = $("#btnSearch");
                    $.ajax({
                        dataType: "JSON",
                        type: "POST",
                        data: {
                            pageSize: data.length,		//data.length:每页的条数
                            page: parseInt((data.start + 1) / data.length) + 1,	//data.start:第一条数据的起始位置(0)
                            ownerId: searchData.ownerId,
                            beginDate: searchData.beginDate,
                            endDate: searchData.endDate,
                            isFinish: searchData.isFinish,
                            isDisuse: searchData.isDisuse,
                        },
                        url: "/Advice/GetAdvicePage",
                        success: function (res) {
                            var returnData = {};
                            if (res.Success) {
                                //封装返回的json变为dataTable要求的标准
                                returnData.data = res.Result.Data;               //数据
                                returnData.recordsTotal = res.Result.Total;      //总数据数
                                returnData.recordsFiltered = res.Result.Total;   //过滤后的数据总数
                            } else {
                                alert(res.Msg);

                                returnData.data = {};
                                returnData.recordsTotal = 0;
                                returnData.recordsFiltered = 0;
                            }
                            returnData.draw = data.draw;
                            callback(returnData);
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(xmlHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $btnSearch.attr("disabled", true);
                        },
                        complete: function () {
                            $btnSearch.attr("disabled", false);
                        },
                    });
                },
                columns: [
                    {
                        data: "Advice.Id",
                        render: function (data) {
                            return "<input type='checkbox' class='my-chkSelect' data-id='" + data + "'/>";
                        }
                    },
                    { data: "Advice.Id" },
                    {
                        data: "Advice.Title",
                        render: function (data, type, row, meta) {
                            var html = "<a href='#' class='my-advice-title my-innerDiv' data-rowIndex='" + meta.row + "'>" + data + "</a>";
                            return html;
                        }
                    },
                    {
                        data: "Advice.DateTime",
                        render: function (data) {
                            return Common.parseDate(data).format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        data: "OwnerName",
                        render: function (data, type, row) {
                            var style = "";
                            if (row["Advice"].Disuse) {
                                style = "style='color:red;'";
                            }
                            return "<a href='#' class='my-advice-owner my-innerDiv' data-id='" + row["Advice"].OwnerId + "' " + style + ">" + data + "</a>";
                        }
                    },
                    {
                        data: "Advice.ReplyNum"
                    },
                    {
                        render: function (data, type, row, meta) {
                            return "<button type='button' class='btn btn-primary btn-sm my-btnEdit' data-rowIndex='" + meta.row + "'>编辑</button>";
                        }
                    }
                ],
            });
        }

        function bindEvent() {
            var $document = $(document);

            //阻止datepicker的show/hide事件向上冒泡，因为会触发modal的事件
            $document.on("show", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });
            $document.on("hide", ".datepicker", function (e) {
                //e.preventDefault();
                e.stopPropagation();
            });

            ////添加的弹出窗口显示时初始化字段
            //$document.on("show.bs.modal", "#modalAdd", function (e) {
            //    var $this = $(this);
            //    $this.find("input").val("");

            //    //获取现有选项
            //    $.when(setOwnerOptHtml()).done(function (data) {
            //        var html = "<option value='0'>加载中...</option>";
            //        if (data) {
            //            alert("加载业主信息失败：" + data);
            //        } else {
            //            html = useOwnerOptHtml;
            //        }

            //        var $ownerSelect = $this.find("[name='OwnerId']");
            //        $ownerSelect.html(html);
            //        $ownerSelect.selectpicker("refresh");
            //    });

            //    //设置默认日期为今天
            //    $("#addApplyDate").datepicker("setDate", Date());
            //});

            //添加、编辑的弹出窗口隐藏时隐藏提示.
            $document.on("hide.bs.modal", "#modalEdit, #modalAdviceInfo", function (e) {
                var $this = $(this);
                //隐藏提示
                $this.find("[data-toggle='popover']").popover("hide");

                if (waitReload) {
                    myDataTable.ajax.reload();
                    waitReload = false;
                }
            });

            ////添加提交按钮点击事件
            //$document.on("click", "#btnAddApply", function () {
            //    var $form = $("#formAdd");
            //    var $owner = $form.find("[name='OwnerId']");
            //    if ($owner.val() <= 0) {
            //        alert("请先选择业主，如果加载失败，请重新打开");
            //    } else if (Common.validateForm($form)) {
            //        var $this = $(this);
            //        //TODO
            //        $.ajax({
            //            url: "/Advice/AddAdvice",
            //            method: "post",
            //            data: {
            //                Name: $form.find("[name='Name']").val(),
            //                OwnerId: $owner.val(),
            //                Discription: $form.find("[name='Discription']").val(),
            //                ApplyDate: $form.find("[name='ApplyDate']").val(),
            //            },
            //            success: function (res) {
            //                alert(res.Msg);
            //                if (res.Success) {
            //                    waitReload = true;
            //                }
            //            },
            //            error: function (XMLHttpRequest, textStatus, errorThrown) {
            //                Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
            //            },
            //            beforeSend: function () {
            //                $this.attr("disabled", true);
            //            },
            //            complete: function () {
            //                $this.attr("disabled", false);
            //            },
            //        });
            //    }
            //});

            //查询按钮点击事件
            $document.on("click", "#btnSearch", function () {
                var $formSearch = $("#formSearch");

                searchData.ownerId = $formSearch.find("[name='OwnerId']").val();
                searchData.beginDate = $formSearch.find("[name='BeginDate']").val();
                searchData.endDate = $formSearch.find("[name='EndDate']").val();
                searchData.isFinish = $formSearch.find("[name='IsFinish']").val();
                searchData.isDisuse = $formSearch.find("[name='IsDisuse']").val();

                myDataTable.ajax.reload();
            });

            //编辑按钮点击事件
            $document.on("click", ".my-btnEdit", function () {
                var $this = $(this);
                var $form = $("#formEdit");
                var data = myDataTable.rows($this.attr("data-rowIndex")).data()[0];

                //给编辑框里的输入框赋值
                $form.find("[name='Id']").val(data.Advice.Id);
                $form.find("[name='Title']").val(data.Advice.Title);
                $form.find("[name='OwnerName']").val(data.OwnerName);
                $form.find("[name='Content']").val(data.Advice.Content);
                $form.find("[name='DateTime']").val(Common.parseDate(data.Advice.DateTime).format("yyyy-MM-dd hh:mm:ss"));

                //显示编辑框
                $('#modalEdit').modal('show');
            });

            //编辑框提交按钮
            $document.on("click", "#btnEditApply", function () {
                var $form = $("#formEdit");
                if (Common.validateForm($form)) {
                    var $this = $(this);
                    $.ajax({
                        url: "/Advice/UpdateAdvice",
                        method: "post",
                        data: {
                            Id: $form.find("[name='Id']").val(),
                            Title: $form.find("[name='Title']").val(),
                            Content: $form.find("[name='Content']").val(),
                        },
                        success: function (res) {
                            alert(res.Msg);
                            if (res.Success) {
                                waitReload = true;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //全选
            $document.on("change", "#chkAllSelect", function () {
                $("input.my-chkSelect").prop("checked", $(this).is(":checked"));
            });

            //datatable重绘时取消全选
            myDataTable.on("draw", function () {
                $("#chkAllSelect").prop("checked", false);
            });

            $document.on("click", "#btnDelete", function () {
                var ids = [];
                $("input.my-chkSelect:checked").each(function (index, element) {
                    ids.push($(this).attr("data-id"));
                });

                if (ids.length == 0) {
                    alert("请先勾选要删除的条目");
                } else {
                    if (confirm("确定要删除吗？")) {
                        $this = $(this);

                        $.ajax({
                            url: "/Advice/DeleteAdvices",
                            method: "post",
                            data: {
                                ids: ids
                            },
                            traditional: true,  //规定是否使用参数序列化的传统样式。这样后台数组变量才能接受到值
                            success: function (res) {
                                alert(res.Msg);
                                if (res.Success) {
                                    myDataTable.ajax.reload();
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                            },
                            beforeSend: function () {
                                $this.attr("disabled", true);
                            },
                            complete: function () {
                                $this.attr("disabled", false);
                            },
                        });
                    }
                }
            });

            //业主状态select选择时更新业主select
            $document.on("changed.bs.select", "select[name='IsDisuse']", function () {
                var $this = $(this);
                var $ownerSelect = $this.closest("form").find("select[name='OwnerId']");
                if ($ownerSelect.length > 0) {
                    //获取业主选项
                    $.when(setOwnerOptHtml()).done(function (data) {
                        var html = "<option value='0'>全部</option>";
                        if (data) {
                            alert("加载业主信息失败：" + data);
                        } else {
                            console.log($this.val());
                            switch ($this.val()) {
                                case 0:
                                case "0":
                                    html += useOwnerOptHtml;
                                    break;
                                case 1:
                                case "1":
                                    html += disuseOwnerOptHtml;
                                    break;
                                default:
                                    html += useOwnerOptHtml + disuseOwnerOptHtml;
                                    break;
                            }
                        }

                        var $ownerSelect = $("#formSearch").find("[name='OwnerId']");
                        $ownerSelect.html(html);
                        $ownerSelect.selectpicker("refresh");
                    });
                }
            });

            //标题点击时显示详情和回复
            $document.on("click", "a.my-advice-title", function () {
                var $this = $(this);
                var $modal = $("#modalAdviceInfo");
                var data = myDataTable.rows($this.attr("data-rowIndex")).data()[0];

                //给编辑框里的输入框赋值
                $modal.find("[name='Id']").text(data.Advice.Id);
                $modal.find("[name='Title']").text(data.Advice.Title);
                $modal.find("[name='OwnerName']").text(data.OwnerName);
                $modal.find("[name='Content']").text(data.Advice.Content);
                $modal.find("[name='DateTime']").text(Common.parseDate(data.Advice.DateTime).format("yyyy-MM-dd hh:mm:ss"));

                //当业主已搬走时禁止编辑
                if (data.Advice.Disuse) {
                    $modal.find("div[name='ReplyRow']").hide();
                } else {
                    $modal.find("div[name='ReplyRow']").show();
                }

                ReplyPagination.adviceId = data.Advice.Id;
                ReplyPagination.loadPage(1);

                //显示
                $modal.modal('show');

                return false;
            });

            //分页组件点击事件
            $("#ulReplyPagination").on("click", "a", function () {
                var $this = $(this);
                var action = $this.attr("aria-label");
                var currPage = $("#ulReplyPagination").data("currentPage");

                if (action == "Previous") {
                    currPage--;
                } else if (action == "Next") {
                    currPage++;
                } else {
                    currPage = $this.text();
                }

                ReplyPagination.loadPage(currPage);
            });

            //回复按钮点击事件
            $document.on("click", "#btnReply", function () {
                var $this = $(this);
                var $form = $this.closest("form");
                var $textarea = $form.find("textarea[name='ReplyContent']");

                if (Common.validateForm($form)) {
                    $.ajax({
                        url: "/Reply/AddReply",
                        method: "post",
                        data: {
                            AdviceId: ReplyPagination.adviceId,
                            Content: $form.find("[name='ReplyContent']").val()
                        },
                        success: function (res) {
                            if (res.Success) {
                                ReplyPagination.reload();
                                waitReload = true;
                                alert("回复成功");
                            } else {
                                alert(res.Msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });

            //删除回复
            $document.on("click", "a.my-btn-deleteReply", function () {
                if (confirm("确定删除该回复吗？")) {
                    var $this = $(this);
                    var id = $this.attr("data-id");

                    $.ajax({
                        url: "/Reply/DeleteReply",
                        method: "post",
                        data: {
                            id: id
                        },
                        success: function (res) {
                            if (res.Success) {
                                ReplyPagination.reload();
                                waitReload = true;
                            } else {
                                alert(res.Msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }

                return false;
            });

            //业主名称点击时显示业主详情
            $document.on("click", "a.my-advice-owner", function () {
                var $this = $(this);
                var $modalOwnerInfo = $("#modalOwnerInfo");

                var id = $this.attr("data-id");

                var $divId = $modalOwnerInfo.find("div[name='Id']");
                //跟已显示的详情不一样，重新获取
                if ($divId.text() != id) {
                    $divId.text(id);
                    $modalOwnerInfo.find("div[name='Name']").text($this.text());

                    var $divSex = $modalOwnerInfo.find("div[name='Sex']");
                    var $divPhoneNum = $modalOwnerInfo.find("div[name='PhoneNum']");
                    var $divIDCard = $modalOwnerInfo.find("div[name='IDCard']");
                    var $divRoom = $modalOwnerInfo.find("div[name='Room']");
                    var $divParking = $modalOwnerInfo.find("div[name='Parking']");
                    var $divDate = $modalOwnerInfo.find("div[name='Date']");
                    var $divDisuseDate = $modalOwnerInfo.find("div[name='DisuseDate']");

                    $divSex.text("加载中...");
                    $divPhoneNum.text("加载中...");
                    $divIDCard.text("加载中...");
                    $divRoom.text("加载中...");
                    $divParking.text("加载中...");
                    $divDate.text("加载中...");
                    $divDisuseDate.text("加载中...");

                    $.ajax({
                        url: "/Owner/GetOwnerInfo",
                        method: "post",
                        data: {
                            id: id
                        },
                        success: function (res) {
                            if (res.Success) {
                                $divSex.text(res.Result.Owner.Sex ? "男" : "女");
                                $divPhoneNum.text(res.Result.Owner.PhoneNum);
                                $divIDCard.text(res.Result.Owner.IDCard);
                                $divDate.text(Common.parseDate(res.Result.Owner.Date).format("yyyy-MM-dd"));
                                if (!(res.Result.Owner.Disuse)) {
                                    $divRoom.text(res.Result.RoomName + "(" + res.Result.BuildingName + ")");
                                    $divParking.text(res.Result.ParkingName ? res.Result.ParkingName : "无");
                                    $divRoom.closest(".row").show();
                                    $divParking.closest(".row").show();
                                    $divDisuseDate.closest(".row").hide();
                                } else {
                                    $divDisuseDate.text(Common.parseDate(res.Result.Owner.DisuseDate).format("yyyy-MM-dd"));

                                    $divRoom.closest(".row").hide();
                                    $divParking.closest(".row").hide();
                                    $divDisuseDate.closest(".row").show();
                                }
                            } else {
                                alert(res.Msg);
                                $divId.text("");
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $divId.text("");
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        }
                    });
                }

                //显示详情框
                $modalOwnerInfo.modal('show');

                return false;
            });
        }

        //业主select的选项,传入延迟对象来配合ajax保证延迟执行，不阻塞线程
        function setOwnerOptHtml() {
            var deferredObj = $.Deferred();
            //当没有时用ajax获取
            if (!useOwnerOptHtml) {
                $.ajax({
                    url: "/Owner/GetOwnersCoreInfo",
                    //async: false,
                    data: {
                        isDisuse: 3
                    },
                    method: "post",
                    success: function (res) {
                        if (res.Success) {
                            //myDataTable.ajax.reload();
                            var uselist = res.Result.UseOwner;
                            if (uselist.length == 0) {
                                deferredObj.resolve("请先添加业主");
                                return;
                            } else {
                                var html1 = "";
                                for (let i = 0; i < uselist.length; i++) {
                                    html1 += "<option value='" + uselist[i].Id + "'>" + uselist[i].Name + "</option>";
                                }
                                useOwnerOptHtml = html1;
                            }

                            var disuselist = res.Result.DisuseOwner;
                            var html2 = "";
                            for (let i = 0; i < disuselist.length; i++) {
                                html2 += "<option value='" + disuselist[i].Id + "'>" + disuselist[i].Name + "</option>";
                            }
                            disuseOwnerOptHtml = html2;

                            deferredObj.resolve("");
                        }
                        else deferredObj.resolve(res.Msg);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        deferredObj.resolve("连接失败，请稍候重试");
                    },
                });
            } else {
                deferredObj.resolve("");
            }

            return deferredObj;
        }
    </script>
</body>
</html>
